In [1]:
class car:
    def __init__(self, name,) -> None:
        self.name = name
volvo: car = car(name="volvo")
print(volvo.name)

volvo

Attribute error

In [ ]:
# atribute error - this error is raised when we try to access an attribute that does not exist
volvo.brand

AttributeError: 'car' object has no attribute 'brand'

Module not fount error

In [3]:
import bob

ModuleNotFoundError: No module named 'bob'

Index Error

In [ ]:
names: list[str] = ["anto", "kelvin"]
num: tuple[int, ...] = (0,1,3,2,4)
print(names[2]) # IndexError - this error is raised when we try to access an index that is out of range

IndexError: list index out of range

In [5]:
print(num[5]) # IndexError - this error is raised when we try to access an index that is out of range

IndexError: tuple index out of range

In [6]:
print(names + num) # TypeError - this error is raised when we try to perform an operation on incompatible types

TypeError: can only concatenate list (not "tuple") to list

Key Error

In [9]:
data: dict[str] = {'name': 'anto', 'age': 25}
print(data)

{'name': 'anto', 'age': 25}

In [10]:
print(data['address']) # KeyError - this error is raised when we try to access a key that does not exist

KeyError: 'address'

In [13]:
def score() -> None:
    high: int = 0
score()
print(high) # NameError - this error is raised when we try to access a variable that is not defined

NameError: name 'high' is not defined

Not Implemented error

In [14]:
def scrape_website(url: str) -> None:
    pass

def scrape_website2(url: str) -> None:
    raise NotImplementedError

scrape_website("")

scrape_website2("")

NotImplementedError:

Stop Iteration Error

In [ ]:
from typing import Generator
def count_up_to(max: int) -> Generator[int, None, None]:
    count: int = 0
    while count <= max:
        yield count
        count += 1
my_generator: Generator[int, None, None] = count_up_to(5)
print(next(my_generator))

0

In [21]:
# syntax error - this error is raised when there is a mistake in the syntax of the code
for i in range(5)
    print(i)

SyntaxError: expected ':' (2960884313.py, line 2)

In [20]:
# indentation error - this error is raised when there is a mistake in the indentation of the code
def greet() -> None:
print("Hello, World!")
    print("Hello, World!")
greet()

IndentationError: expected an indented block after function definition on line 2 (1177596615.py, line 3)

Value Error

In [22]:
# ValueError - this error is raised when a function receives an argument of the correct type but an inappropriate value
age: int = int("twenty five")

ValueError: invalid literal for int() with base 10: 'twenty five'